button {
  font-weight: 600;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  transition-duration: 300ms;
  border-radius: 2px;
  border-style: hidden;
  min-width: 80px;
  height: 35px;
  padding: 5px 10px;
  background-color: rgb(20, 141, 222);
  font-family: -apple-system;
  text-transform: uppercase;
}

button:nth-child(1) {
  background-color: green;
}

button:nth-child(2) {
  background-color: yellow;
}

button:nth-child(3) {
  background-color: red;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
