button {
  font-weight: 600;
  border-radius: 4px;
  border-style: hidden;
  min-width: 180px;
  height: 40px;
  background-color: rgb(20, 141, 222);
  font-family: -apple-system;
}

.div {
  display: flex;
  gap: 10px;
}

button:nth-child(1) {
  background-color: green;
}

button:nth-child(2) {
  background-color: yellow;
}

button:nth-child(3) {
  background-color: red;
}

button:hover {
  transform: scale(1.03);
  cursor: pointer;
}
